POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=final_quest
JWT_SECRET=change-me-to-a-secure-secret
UPSTASH_REDIS_REST_URL="redis://localhost:6379"
UPSTASH_REDIS_REST_TOKEN="insert-your-token-here"